@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
/* @import 'tailwindcss/preflight.css' layer(base); */
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); 

:root {
  --theme-elevation-100: #f06c9e;
  --theme-elevation-200: #d06979;
  --theme-elevation-800: #e31f3c;
}

.card {
  background-color: var(--theme-elevation-100);
  border: 1px solid var(--theme-elevation-200);
  border-radius: 1px;
}